.esfera{
	height: 100px;
	width: 100px;
	background-color: green;
	border-radius: 100%;
	display: inline-block;
}
.circulo{
	background-color: #ABCDEF;
}
.rebote{
	background-color: gray;
}
.mover{
	background-color:red;
}
#menu{
	margin: 30px 60px 120px 120px;
}
#top {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: #cc0000;
    left: 25px;
}
#bottom {
	position: relative;
	height:25px;
	width: 100px;
	background-color: #cc0000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	top: -25px;
}
#fwheel {
	position: relative;
	height:20px;
	width:20px;
	border-radius: 100%;
	background-color: black;
	top: -35px;
	left: 5px;
}
#bwheel {
	position: relative;
	height:20px;
	width:20px;
	border-radius: 100%;
	background-color: black;
	top: -55px;
	left: 75px;
}
#carro{
	position: fixed;
}
.camTam{
	height: 100px;
    background-color: #ABCDEF;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 1em;
    text-align: center;
}
ol{
	/*para quitar los numeros de la lista*/
	list-style-type: none;
	position: relative;
	left: -20px;
}
li{
	background:#eeeeee;
	border-radius: 5px;	
	border:1px solid black;
	margin: 3px;
	padding: 0.4em;
	font-size: 1em;
	height: 16px;
}
/*cuando se cumpla la funcion ejecute esta clase*/
ol .ui-selected{
	background-color: #F39814;
	color:white
}